<div class="tile tile-padded ford-options_white">
  <h1><perch:content id="header" type="text" label="Header" /></h1>
  <perch:repeater id="option-item" label="Option Item">
  <div class="col-md-3">
    <a href="<perch:content id="link" type="text" label="Link" help="The URL that the image/button links to" />">
      <img src="<perch:content id="image" type="image" label="Image" />" class="img-responsive">
    </a>
    <a href="<perch:content id="link" type="text" label="Link" help="The URL that the image/button links to" />" class="bottom">
      <perch:content id="title" type="text" label="Title" />
    </a>
  </div>
  </perch:repeater>
</div><!--/.tile -->
