<div class="col-md-12">
  <hr>
  <h3><perch:content id="vehicle_heading" type="text" label="Vehicle Heading" required="true" /></h3>
  <perch:content id="_id" />
  <perch:content id="perch_item_index" />
</div>
<div class="col-md-4" data-selected="<perch:content id="open_tab" type="select" label="Open Tab" options="overview, cash, pcp, hp, lease, affordability" allowempty="false" required="true" />">

  <img src="<perch:content id="vehicle_image" type="image" label="Vehicle Image" required="true" />" class="img-responsive">

  <perch:content type="checkbox" id="btn_enquire_now" value="1" label="Enquire Now Button" suppress="true" />
  <perch:if exists="btn_enquire_now">
    <a href="#" class="btn btn-ford-two btn-block" data-toggle="modal" data-target="#modal-enquiry">Enquire Now</a>
  </perch:if>
  <perch:content type="checkbox" id="btn_call_back" value="1" label="Call Back Button" suppress="true" />
  <perch:if exists="btn_call_back">
    <a href="#" class="btn btn-ford-two btn-block" data-toggle="modal" data-target="#modal-callme">Call Back</a>
  </perch:if>
  <perch:content type="checkbox" id="btn_part_ex" value="1" label="Part Exchange Button" suppress="true" />
  <perch:if exists="btn_part_ex">
    <a href="#" class="btn btn-ford-two btn-block" data-toggle="modal" data-target="#modal-part_exchange">Part Exchange</a>
  </perch:if>
  <perch:content type="checkbox" id="btn_book_test_drive" value="1" label="Book Test Drive Button" suppress="true" />
  <perch:if exists="btn_book_test_drive">
    <a href="#" class="btn btn-ford-two btn-block" data-toggle="modal" data-target="#modal-test_drive">Book a test drive</a>
  </perch:if>

  <perch:repeater id="link-item" label="Link Item Button">
    <a href="<perch:content id="link" type="text" label="URL" />" class="btn btn-ford-two btn-block"><perch:content id="title" type="text" label="Title" /></a></li>
  </perch:repeater>
</div>
<div class="col-md-8">
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"<perch:if id="open_tab" value="overview" match="eq"> class="active"</perch:if>><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
      <li role="presentation"<perch:if id="open_tab" value="cash" match="eq"> class="active"</perch:if>><a href="#cash" aria-controls="cash" role="tab" data-toggle="tab">Cash Price</a></li>
      <li role="presentation"<perch:if id="open_tab" value="pcp" match="eq"> class="active"</perch:if>><a href="#pcp" aria-controls="pcp" role="tab" data-toggle="tab">PCP</a></li>
      <li role="presentation"<perch:if id="open_tab" value="hp" match="eq"> class="active"</perch:if>><a href="#hp" aria-controls="hp" role="tab" data-toggle="tab">HP</a></li>
      <li role="presentation"<perch:if id="open_tab" value="lease" match="eq"> class="active"</perch:if>><a href="#lease" aria-controls="lease" role="tab" data-toggle="tab">Lease</a></li>
      <li role="presentation"<perch:if id="open_tab" value="affordability" match="eq"> class="active"</perch:if>><a href="#affordability" aria-controls="affordability" role="tab" data-toggle="tab">Affordability</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane<perch:if id="open_tab" value="overview" match="eq"> active</perch:if>" id="overview">
        <perch:content id="overview_tabcontent" type="textarea" label="Overview Tab Content" editor="ckeditor" html="true" required="true" />
      </div>
      <div role="tabpanel" class="tab-pane<perch:if id="open_tab" value="cash" match="eq"> active</perch:if>" id="cash">
        <perch:content id="cash_tabcontent" type="textarea" label="Cash Price Tab Content" editor="ckeditor" html="true" required="true" />
      </div>
      <div role="tabpanel" class="tab-pane<perch:if id="open_tab" value="pcp" match="eq"> active</perch:if>" id="pcp">
        <perch:content id="pcp_tabcontent" type="textarea" label="PCP Tab Content" editor="ckeditor" html="true" required="true" />
      </div>
      <div role="tabpanel" class="tab-pane<perch:if id="open_tab" value="hp" match="eq"> active</perch:if>" id="hp">
        <perch:content id="hp_tabcontent" type="textarea" label="HP Tab Content" editor="ckeditor" html="true" required="true" />
      </div>
      <div role="tabpanel" class="tab-pane<perch:if id="open_tab" value="lease" match="eq"> active</perch:if>" id="lease">
        <perch:content id="lease_tabcontent" type="textarea" label="Lease Tab Content" editor="ckeditor" html="true" required="true" />
      </div>
      <div role="tabpanel" class="tab-pane<perch:if id="open_tab" value="affordability" match="eq"> active</perch:if>" id="affordability">
        <perch:content id="affordability_tabcontent" type="textarea" label="Affordability Tab Content" editor="ckeditor" html="true" required="true" />
      </div>
    </div>
  </div>
</div><!--/.col-->
